@import-normalize;

html {
    font-family: "Inter", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

body {
    margin: 0;
    background: none;
}

#root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    --background: #fff;
    --hightlight: #cd485d;
    --pressed: #a63a4b;
    --border: #99a1a9;
    --border-radius: 5px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

a:hover {
    color: var(--hightlight);
}

.button {
    cursor: pointer;
    user-select: none;
    border: none;
    color: var(--background);
    background-color: var(--hightlight);
    font-weight: 500;
    padding: 0.8em 1em;
}


.button:active {
    scale: 0.9;
    background-color: var(--pressed);
}


