.AppContainer {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;

    background-color: var(--background);
}

.dark {
    --background: #030303;
    --hightlight: #ccc;

    color: var(--hightlight);
    transition: 0.2s linear;
}

.App {
    text-align: center;
    padding-top: 1em;
    min-height: 80vh;
    max-width: 80vw;
    margin: 0 auto; 
    position: relative;
}


