.deleteButton {
    cursor: pointer;
    color: var(--hightlight);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.25em;
}

.deleteButton:active {
    scale: 0.9;
    color: var(--pressed);
}