header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25 1em;
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0.25em;
}

header span {
    color: var(--hightlight);
}