.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 9em;
    padding-right: 0.25em;
    gap: 0.75em;
}

.profileIcon {
    border-radius: 50px;
    max-width: 2.5em;
}

.userContainer.dark {
    color: var(--hightlight);
}

.userContainer.dark:hover {
    color: #cd485d;
}