.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 9em;
    padding: 1em;
    padding-right: 0;
    gap: 0.75em;
}

img {
    border-radius: 50px;
}
